/*wildcard element* - setting default values of all elements for padding, margin, boxing-size*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* color variables*/
:root {
  --clr-pink: #ffcce6;
  --clr-orange: #ffe6cc;
  --clr-pastelpink: #ffcccc;
  --clr-pastellavender: #e6ccff;
  --clr-pastelgreen: #e6ffcc;
  --clr-pastelblue: #ccffff;
  --clr-dark: #666666;
}

/*setting dafaults*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*DEFAULT font and color*/
body {
  font-family: 'Lato', sans-serif;
  background: #f1f1f1;
}
.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #edf6f9;
  z-index: 100;
}
/* Center the content to 70% of the header */
.header-content {
  max-width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Navigation styles */
.navigation {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  align-items: center;
}
.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #003049;
  font-size: 16px;
  position: relative;
  transition: font-size 0.3s ease, border-bottom 0.3s ease;
  text-align: center;  /* This will help to keep the text centered within the grid cell */
}
.nav-link:hover {
  font-size: 20px;
}
/* Add a line at the bottom of the link when hovered */
.nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10px;
  width: 80%;
  height: 5px;
  background-color: #f77f00;
}

/* first iamge section */
.my-img{
  width: 100vw;
  height: 100px; 
  /* Use Unsplash for great hi-res images that work well for hero-images. */
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/lab5-edits/lab5/images/doughtnut.png");
  background-size: 120px; /* resize image to appear better*/
  background-repeat: repeat; /*repeat image only on one line */
  position: relative;
}

/*overlay*/

/* The overlay that will be clear on hover */
.my-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* This adds a slight dark overlay. You can adjust as needed */
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  transition: backdrop-filter 1s ease;
}

.my-img:hover .my-overlay {
  backdrop-filter: blur(0px);
}
.home {
  font-size: 48px;
  font-weight: bold;
  color: white;
  top: 50%; 
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 2; /* Ensures the text stays on top of the overlay */
}

/* Main Content */
.content-wrapper {
  max-width: 80%;
  margin: 40px auto; /* Adding some top and bottom margin for spacing */
}

.content-row{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1em; /* space between the two columns */
}

.column {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}

.card h2{
  font-size: 24px;
  margin-bottom: 20px; /* Adds some space between the header and the card content */
}

ul {
  list-style-type: none;
  padding: 10px;
}

ul li {
  padding: 10px 0;
  position: relative;
  font-weight: 400;
}

ul li::before {
  content: '»';
  color: #f77f00;
  margin-right: 10px;
}

/* General styling for inputs and textarea */
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaa; 
  border-radius: 5px;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.contact-form input:focus, .contact-form select:focus, .contact-form textarea:focus{
  background-color: #edf6f9;
  border-bottom: 2px solid #f77f00;
}

.contact-form textarea {
  height: 150px; /* Adjust based on preference */
  resize: vertical; /* Allows only vertical resizing */
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
}

.contact-form select {
  width: 100%;
  padding: 10px;
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  outline: none;
}

/* Styling the submit button */
.contact-form button {
  width: 100px; 
  height: 50px;
  background-color: #f77f00; 
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e56600;
}

footer {
  bottom: 0%;         
  width: 100%;        
  background-color: #f77f00;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .content-row {
    grid-template-columns: 1fr;
  }
}
