/*wildcard element* - setting default values of all elements for padding, margin, boxing-size*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* color variables*/
:root {
  --clr-pink: #ffcce6;
  --clr-orange: #ffe6cc;
  --clr-pastelpink: #ffcccc;
  --clr-pastellavender: #e6ccff;
  --clr-pastelgreen: #e6ffcc;
  --clr-pastelblue: #ccffff;
  --clr-dark: #666666;
}

body {
  /*main body font color*/
  color: var(--clr-dark);
  /*main background color*/
  /* background-color: var(--clr-orange);*/
  width: 100%;
  /*for centering content*/
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-size: 100px;
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/lab5/images/doughtnut.png"),linear-gradient(to bottom, 
  var(--clr-pastellavender),
  var(--clr-pastelgreen),
  var(--clr-pastelblue));
  background-repeat: repeat-x;
  background-position: center;
}

header {
  /*stylize*/
  width: 80%;
  /*for putting links side by side and spacing out*/
  display: flex;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  border: 5px solid white;
  border-bottom: 5px solid var(--clr-dark);
  /*background image*/
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/lab5/images/doughtnut.png");
  background-position: center;
  background-size: 70px;
}

footer {
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  /*for putting content sidebyside and spacing evenly*/
  display: flex;
  justify-content: space-between;
  position: bottom;
  font-size: small;
  border: 5px solid white;
  border-bottom: 5px solid var(--clr-dark);
}
h1{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  text-align: center;
  border-bottom: 5px solid var(--clr-dark);
}
h2,
h3 {
  border: 5px solid white;

  border-bottom: 5px solid var(--clr-dark);
}
p {
  margin: 100px;
}
/*for image captions*/
figure{
  font-size: small;
}

/*id details*/
/*for the nav bar*/
.main-header{
  position: sticky;
  top: 0;
}
#home {
  margin: 500px;
}
/*about section*/
#about {
  margin: 100px;
  display: flex;
}

/*extras section*/
#hobbies {
  margin: 100px;
}
/*skills section*/
#skills {
  margin: 100px;
  display: flex;
  justify-content: space-around;
}
/*projects section*/
#portfolio {
  margin: 300px;
  display: flex;
  justify-content: space-evenly;
}
/*profile setup*/
#profileForm{
  margin: 100px;
}
/*contact form*/
#contact{
  margin: 100px;
}
/*
  Content wrap. pink background color(#ffccff)
*/
#wrapper {
  width: 80%;

  background-color: var(--clr-pastelpink);
}
/* link details*/
a {
  padding: 4px;
  border: 1px solid white;
  color: var(--clr-dark);
  box-shadow: inset 0 0 0 0 var(--clr-pastelpink);
  transition: color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  font-weight: bold;
  background-color: var(--clr-pastelpink);
}
a:hover {
  box-shadow: inset 400px 0 0 0 var(--clr-pastelpink);
  color: white;
}
