*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
body{
  background-color: pink;
}
/*flex container*/
.photo-container{
  width: 100vw;
  height: 100vh;
  display: flex; /* for centering content */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
/* photo containe item */
.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  gap: 0.5em;
}
/*grid item* for child items*/
.grid-item{
  width: 200px;
  height: 200px;
  display: flex; /* flexbox to center text */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  text-shadow: 1px 1px 1px #6b6b6b;
  font-weight: 500;
  font-size: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /*doughnut*/
}
.item-1{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/doughtnut.png");

}
/*pokemon*/
.item-2{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/sylveon-transpa.webp");
  
}
/*anime*/
.item-3{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/satoro-old.avif");

}
/*frog*/
.item-4{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/pixel-frog.png");

}
/*moon*/
.item-5{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/moon-full.jpeg");

  
}
/*anime*/
.item-6{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/satoro-young.avif");

  
}
/*wolf*/
.item-7{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/howl-wolf.jpeg");

}
/*cat*/
.item-8{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/weirded_out_cat.jpeg");

  
}
/*anime*/
.item-9{
  background-image: url("https://stackblitz.com/files/web-platform-bvtgpr/github/bbdnyka/https-github.com-bbdnyka-UAB-CS221/main/Homework/HW7/img/uzui-excited.webp");
 
  
}
