*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
body{
  background-color: pink;
}
.photo-container{
  width: 100vw;
  height: 100vh;
  display: flex; /* for centering content */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
/* flex item */
.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: repeat(3, 300px);
  gap: 0.5em;
}
/*grid item*/
.grid-item{
  width: 300px;
  height: 300px;
  display: flex; /* flexbox to center text */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  text-shadow: 1px 1px 1px #6b6b6b;
  font-weight: 500;
  font-size: 2rem;
}