/*wildcard element* - setting default values of all elements for padding, margin, boxing-size*/
*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
/* color variables*/
:root{
  --clr-pink:#ffccff;
  --clr-lavender:#ccccff;
  --clr-peach:#ffcccc;
}
header{
  top: 0px;/*puts elements at top*/
  position: sticky;
  border-bottom:5px var(--clr-peach) solid;/*border*/
  background-color: var(--clr-pink);
}
main{
  width: 80%;
  margin-right: auto;/*For centering element*/
  margin-left: auto;
  background-color:var(--clr-lavender);
}
p{
  padding: 1em;

}
footer{
  width: 100%;
  bottom: 0px;/*Moves element to bottom*/
  position: fixed;
  background-color: var(--clr-peach);
}