body {
  font-family: sans-serif;
  color: #221811;
  background-color: rgb(200, 200, 200);
}
header {
  color: white;
  text-align: center;
  font-size: 10em;
  text-transform: uppercase;
}
nav {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
h1 {
  text-transform: uppercase;
  line-height: 200%;
}
h2 {
  line-height: 200%;
  text-transform: uppercase;
  color: white;
}
footer {
  font-size: 0.6em;
  text-align: center;
  font-style: italic;
  background-color: white;
  color: rgb(100, 100, 90);
}
.first-p {
  border: 5px dotted white;
  padding: 25px;
  font-size: 15pt;
  text-indent: 20px;
}
.second-p {
  border: 5px dotted white;
  padding: 25px;
  font-size: 15pt;
  text-indent: 20px;
}
#wrapper {
  width: 80%;
  background-color: #ffccff;
  margin-right: auto;
  margin-left: auto;
}
#profile-setup {
  text-align: center;
  font-size: 1em;
}
#projects {
  border: 5px dotted white;
}
#skills {
  border: 5px dotted white;
}
