*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  background-color: pink;
}
.flex-container{
  width: 100vw;
  height: 100vh;
  display: flex; /* for centering content */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
/* flex item */
.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(3, 50px);
  gap: 0.5em;
}
/*grid item*/
.grid-item{
  width: 50px;
  height: 50px;
  display: flex; /* flexbox to center text */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  text-shadow: 1px 1px 1px #6b6b6b;
  font-weight: 500;
  font-size: 2rem;
}

.item-1{
  background-color: orange;
  grid-column: span 3;/*for spanning grid*/
  width: auto;
}
.item-2{
  background-color: blueviolet;
  grid-row: span 2;
  height: auto;
}
.item-3{
  background-color: yellow;
}
.item-4{
  background-color: white;
}
.item-5{
  background-color: royalblue;
}
.item-6{
  background-color: green;
}
.item-7{
  background-color: gray;
  grid-column: span 3;
  width: auto;
}
.item-8{
  background-color: palevioletred;
}
.item-9{
  background-color: red;
}
